* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background:linear-gradient(90deg, rgba(74, 163, 89, 1) 0%, rgb(47, 133, 61) 50%, rgb(54, 88, 69));
    color: #000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    max-width: 100%;
}